<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>Api.Filters.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/Admin/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>EmployeeController</servlet-name>
        <servlet-class>Api.Controllers.EmployeeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerController</servlet-name>
        <servlet-class>Api.Controllers.CustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeManager</servlet-name>
        <servlet-class>Api.Controllers.EmployeeManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListEmployee</servlet-name>
        <servlet-class>Api.Controllers.Employee.ListEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEmployee</servlet-name>
        <servlet-class>Api.Controllers.Employee.DeleteEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacilityController</servlet-name>
        <servlet-class>Api.Controllers.FacilityController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingController</servlet-name>
        <servlet-class>Api.Controllers.BookingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthController</servlet-name>
        <servlet-class>Api.Controllers.AuthController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PromotionController</servlet-name>
        <servlet-class>Api.Controllers.PromotionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerBooking</servlet-name>
        <servlet-class>CustomerBooking</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmployeeController</servlet-name>
        <url-pattern>/EmployeeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerController</servlet-name>
        <url-pattern>/CustomerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeManager</servlet-name>
        <url-pattern>/EmployeeManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListEmployee</servlet-name>
        <url-pattern>/ListEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEmployee</servlet-name>
        <url-pattern>/DeleteEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacilityController</servlet-name>
        <url-pattern>/FacilityController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingController</servlet-name>
        <url-pattern>/BookingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthController</servlet-name>
        <url-pattern>/AuthController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PromotionController</servlet-name>
        <url-pattern>/PromotionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerBooking</servlet-name>
        <url-pattern>/CustomerBooking</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <jsp-config>
        <taglib>
            <taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
            <taglib-location>/WEB-INF/lib/c.tld</taglib-location>
        </taglib>
    </jsp-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
